.signup-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
@media(max-width:480px) {
    .signup-section {
        flex-direction: column;
    }
  }
  @media(max-width:1050px) {
    .signup-section {
        flex-direction: column;
    }
  }
.signup-form {
    width: 50%;
    background: whitesmoke;
}
@media(max-width:480px) {
    .signup-form {
        width: 100%;
        height: 50%;
    }
  }
  @media(max-width:1050px) {
    .signup-form {
        width: 100%;
        height: 50%;
    }
  }
.name {
    height: 25px;
    margin-top: 5px;
    width: 120px;
    border-color: transparent;
}
.name::placeholder {
    color: aqua;
}
.email-validate {
    font-size: 10px;
    color: red;
}
.password-check {
    width: 120px;
    height: 100px;
    background: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 260px;
    margin-top: -66px;
}
@media(max-width:480px) {
    .password-check {
        right: 8px;
    }
  }
  .password {
    margin-top: 20px;
    font-size: 13px;
}
@media(max-width:1050px) {
    .password {
        margin-top: 8px;
    }
  }
.email {
    margin-top: 20px;
    font-size: 13px;
}
@media(max-width:1050px) {
    .email {
        margin-top: 8px;
    }
  }
.contain {
    font-size: 11px;
    margin-bottom: 10px;
}
.checks {
    font-size: 10px;
    color: aqua;
}