.confirm-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
@media(max-width:450px) {
    .confirm-section {
        flex-direction: column;
    }
  }
  @media(max-width:1025px) {
    .confirm-section {
        flex-direction: column;
    }
  }
.confirm-form {
    width: 50%;
    background: aliceblue;
}
@media(max-width:450px) {
    .confirm-form {
       width: 100%;
       height: 50%;
    }
  }
  @media(max-width:1025px) {
    .confirm-form {
       width: 100%;
       height: 50%;
    }
  }